name: Release Charts

on:
  workflow_dispatch:
    inputs:
      issue_number:
        description: 'Issue for release creation number'
        required: true
      csi_version:
        description: 'csi-baremetal-deployment release version'
        required: true

jobs:
  create_release:
    name: Create pre-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      
      - name: Make version
        id: vars
        run: |
          echo "::set-output name=version::$(make version)"
          echo "::set-output name=release_tag::${GITHUB_REF/refs\/tags\//}"

      - name: Tag release
        run: |
          TAG_NAME=${{ steps.vars.outputs.release_tag }}
          git tag -a $TAG_NAME ${{ github.sha }} -m "release $TAG_NAME"
          git push origin $TAG_NAME

      - name: Create csi-baremetal-operator asset
        id: asset_1
        run: |
          helm package charts/csi-baremetal-operator/ --version ${{ steps.vars.outputs.version }} --app-version ${{ steps.vars.outputs.release_tag }} --dependency-update
          echo "::set-output name=archive_name::csi-baremetal-operator-${{ steps.vars.outputs.version }}.tgz"

      - name: Upload csi-baremetal-operator asset
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.asset_1.outputs.archive_name }}
          path: ./${{ steps.asset_1.outputs.archive_name }}

      - name: Create csi-baremetal-deployment asset
        id: asset_2
        run: |
          helm package charts/csi-baremetal-deployment/ --version ${{ steps.vars.outputs.version }} --app-version ${{ steps.vars.outputs.release_tag }} --dependency-update
          echo "::set-output name=archive_name::csi-baremetal-deployment-${{ steps.vars.outputs.version }}.tgz"

      - name: Upload csi-baremetal-deployment asset
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.asset_2.outputs.archive_name }}
          path: ./${{ steps.asset_2.outputs.archive_name }}      

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{ steps.vars.outputs.release_tag }}
          draft: false
          prerelease: true
          files: |
            ./${{ steps.asset_1.outputs.archive_name }}
            ./${{ steps.asset_2.outputs.archive_name }}

      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          path: /tmp/${{ steps.vars.outputs.release_tag }}
        if: startsWith(github.ref, 'refs/tags/')

      - name: Check assets in release directory
        id: release_dir
        run: |
          ls -l | grep csi-baremetal*.tgz
          echo "::set-output name=path::/tmp/${steps.vars.outputs.release_tag}"
        working-directory: /tmp/${{ steps.vars.outputs.release_tag }}

      - name: Checkout gh-pages
        uses: actions/checkout@v2
        with:
          ref: gh-pages
        if: startsWith(github.ref, 'refs/tags/')

      - name: Update index.yaml
        run: |
          git checkout -b feature-issue-${github.event.inputs.issue_number}-release-${steps.vars.outputs.release_tag}
          helm repo index ${steps.release_dir.outputs.path} --url ${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/releases/download/${steps.vars.outputs.release_tag} --merge docs/index.yaml
          cp ${steps.release_dir.outputs.path} ${env.GITHUB_WORKSPACE}/docs
        if: startsWith(github.ref, 'refs/tags/')

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.CSI_WF_TOKEN }}
          branch: feature-issue-${{ github.event.inputs.issue_number }}-release-${{ steps.vars.outputs.release_tag }}
          title: 'Release ${{ steps.vars.outputs.release_tag }}'
          assignees: misanthropicat
          reviewers: misanthropicat
          draft: true

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Update helm repository
        uses: helm/chart-releaser-action@v1.2.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Send slack notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: test-private-channel
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: 'Release ${{ steps.vars.outputs.release_tag }} is ready for review'
          SLACK_MESSAGE: 'Please review this PR: ${{ steps.pr.outputs.pull-request-url }}'
