name: Release Charts

on:
  push:
    tags:
      - v*
    branches:
      - master

jobs:
  create_release:
    name: Create pre-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Make version
        id: vars
        run: |
          echo "::set-output name=version::$(make version)"
          echo "::set-output name=release_tag::${GITHUB_REF/refs\/tags\//}"

      - name: Create asset
        id: asset
        run: |
          ARCHIVE_NAME=csi-baremetal-operator-${{ steps.vars.outputs.version }}.tgz
          tar -czvf ./$ARCHIVE_NAME charts
          echo "::set-output name=archive_name::$ARCHIVE_NAME"

      - name: Upload asset
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.asset.outputs.archive_name }}
          path: ./${{ steps.asset.outputs.archive_name }}

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{ steps.vars.outputs.release_tag }}
          draft: false
          prerelease: true
          files: ./${{ steps.asset.outputs.archive_name }}
        if: startsWith(github.ref, 'refs/tags/')

      - name: Trigger release workflow in csi-baremetal repo and wait the result
        uses: convictional/trigger-workflow-and-wait@v1.3.0
        with:
          owner: misanthropicat
          repo: csi-baremetal
          workflow_file_name: release.yml
          ref: master
          github_token: ${{ secrets.CSI_WF_TOKEN }}
          inputs: '{ "csi_operator_version": "${{ steps.vars.outputs.version }}", "release_tag":  "${{ steps.vars.outputs.release_tag }}"}'
          wait_interval: 8
        if: startsWith(github.ref, 'refs/tags/')

  update_gh_pages:
    name: Update GitHub Pages
    needs: create_release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set variables
        id: vars
        run: echo "::set-output name=release_tag::${GITHUB_REF/refs\/tags\//}"
      
      - name: Create release issue
        id: create_issue
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.CSI_WF_TOKEN }}
        with:
          filename: .github/release_template.md
          assignees: misanthropicat

      - name: Download all artifacts
        uses: actions/download-artifact@v2
        with:
          path: /tmp/${{ steps.vars.outputs.release_tag }}
        if: startsWith(github.ref, 'refs/tags/')

      - name: Check assets in release directory
        id: release_dir
        run: |
          ls -l | grep csi-baremetal*.tgz
          echo "::set-output name=path::/tmp/${steps.vars.outputs.release_tag}"
        working-directory: /tmp/${{ steps.vars.outputs.release_tag }}

      - name: Checkout gh-pages
        uses: actions/checkout@v2
        with:
          ref: gh-pages
        if: startsWith(github.ref, 'refs/tags/')

      - name: Update index.yaml
        run: |
          git checkout -b feature-issue-${steps.create_issue.outputs.number}-release-${steps.vars.outputs.release_tag}
          helm repo index ${{ steps.release_dir.outputs.path}} --url ${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/releases/download/${steps.vars.outputs.release_tag} --merge docs/index.yaml
          cp ${steps.release_dir.outputs.path} ${env.GITHUB_WORKSPACE}/docs
        if: startsWith(github.ref, 'refs/tags/')

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        if: startsWith(github.ref, 'refs/tags/')

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Update helm repository
        uses: helm/chart-releaser-action@v1.2.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
